.user-details-nav {
  margin-bottom: 20px;
}

.chat-column {
  margin-top: 20px;
}
.chat-container {
  min-height: 97vh;
  height: 100%;
}

h3 {
  background-color: #2f2f2f;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
h2 {
  background-color: transparent;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.bg-header {
  background-color: #520dc2;
}

body {
  font-family: "Poppins", sans-serif;
  /* color: gray; */
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #157347;
}
a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:active,
a:focus {
  color: #f64f22;
  outline: none !important;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Lato", Arial, sans-serif;
  color: #000;
}

.bg-primary {
  background: #01d28e !important;
}

.ftco-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  /* align-items: center; */
}
.ftco-section .img-1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  /* display: none; */
  object-fit: cover;
  display: none;
  /* object-position: top; */
}

.ftco-section .img-2 {
  width: 100%;
  object-fit: cover;
  height: auto;
  display: none;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.wrap {
  width: 100%;
  overflow: hidden;
  background: #f8f9fd;
  padding: 25px;
  margin-top: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}
.wrap .img {
  height: auto;
}

.login-wrap {
  position: relative;
}
.login-wrap h3 {
  font-weight: 700;
  font-size: large;
  color: rgb(88, 87, 87);
}

.form-group {
  position: relative;
  z-index: 0;
  margin-bottom: 10px !important;
}
.form-group a {
  color: gray;
}

.form-control {
  height: 45px;
  background: transparent;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.5) !important;
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #01d28e;
  background-color: #01d28e;
}

.field-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.3);
}

.form-control-placeholder {
  position: absolute;
  top: 2px;
  left: 0;
  padding: 7px 0 0 15px;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  opacity: 0.6;
  z-index: 0;
  display: none;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  -webkit-transform: translate3d(0, -120%, 0);
  transform: translate3d(0, -120%, 0);
  padding: 7px 0 0 0;
  opacity: 0;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  color: #01d28e;
  font-weight: 700;
}

.social-media {
  position: relative;
  width: 100%;
}
.social-media .social-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid #bec8d9;
  font-size: 16px;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.social-media .social-icon span {
  color: #999999;
}
.social-media .social-icon:hover,
.social-media .social-icon:focus {
  background: #f64f22;
}
.social-media .social-icon:hover span,
.social-media .social-icon:focus span {
  color: #fff;
}

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .checkmark:after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2);
}

/* Style the checkmark/indicator */
.checkbox-primary {
  color: #01d28e;
}
.checkbox-primary input:checked ~ .checkmark:after {
  color: #01d28e;
}

.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
}

.btn-primary {
  background: #157347;
  border-radius: 24px;
  color: #fff !important;
}

.login-bottom p {
  font-size: 13px;
}

.password_error {
  margin: 5px;
  color: red;
  font-size: 13px;
}
